select{
    background-color: lightgray;
}
input{
    border-radius: 5px;
    background-color:rgb(153, 212, 248); 
    
}
form{
    background-color: lightcyan;
    width:500px;
    text-align: center;
}